<input type="text" size="300" data-bind="value: name, event:{ change: getProduct }">
<button data-bind=" click: getProduct">Search Movie</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Movie Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Director_id</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: productList">
    <tr>
        <td data-bind="text: movie_id"></td>
        <td data-bind="text: name"></td>
        <td data-bind="text: description"></td>
        <td data-bind="text: rating"></td>
        <td data-bind="text: director_id"></td>
    </tr>

    </tbody>
</table>