<?xml version="1.0"?>
<!--
  /**
   * Copyright © 2018 Magenest. All rights reserved.
   * See COPYING.txt for license details.
   *
   * Magenest_InstagramShop extension
   * NOTICE OF LICENSE
   *
   * @category Magenest
   * @package  Magenest_InstagramShop
   * @author    dangnh@magenest.com
   */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="widget_widget_instance_save_after">
        <observer name="clear_frontend_cache_after_save" instance="Magenest\InstagramShop\Observer\ClearFrontendCache"/>
    </event>
    <event name="widget_widget_instance_delete_after">
        <observer name="clear_frontend_cache_after_save" instance="Magenest\InstagramShop\Observer\ClearFrontendCache"/>
    </event>
</config>