<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">

        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="room_extra_option_listing_data_source" xsi:type="string">
                    Magenest\Cybergame\Model\ResourceModel\GamerAccountList\Grid\Collection
                </item>
            </argument>
        </arguments>

    </type>

    <virtualType name="Magenest\Cybergame\Model\ResourceModel\GamerAccountList\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">room_extra_option</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Cybergame\Model\ResourceModel\RoomExtraOption</argument>
        </arguments>
    </virtualType>

    <preference for="Magento\Customer\Block\Form\Edit" type="Magenest\Cybergame\Block\Form\Edit" />

</config>